<body>


    <table class="container">
        <thead>
            <tr>
                <th>
                    <h1>Name</h1>
                </th>
                <th>
                    <h1>Price</h1>
                </th>
                <th>
                    <h1>Quantity</h1>
                </th>

            </tr>
        </thead>
        <tbody *ngFor="let item of itemArray">
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td><button type="button" class="btn btn-primary">sell</button></td>
                <td><button type="button" class="btn btn-danger">update</button></td>
            </tr>
        </tbody>
    </table>



</body>