<div class="contenair">
    <!-- small modal -->

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">
                     <i class="fa fa-close"></i>
                   </span>
                 </button>
    <h4 class="modal-title" id="mySmallModalLabel">
        Sign In
    </h4>
    <form class="sm-frm" style="padding:25px">
        <label>Email :</label>
        <input type="text" class="form-control" placeholder="Entrer votre Email" name="email" [(ngModel)]="email">
        <label>Passoword :</label>
        <input type="password" class="form-control" placeholder="Enter Passoward" name="password" [(ngModel)]="password">

        <button type="button" class="btn btn-primary " data-dismiss="modal" (click)="login()">Submit</button>
    </form>
</div>