<link href="../../assets/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

<body id="top">
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="#">Volecano</a></h1>
            </div>
            <div id="quickinfo" class="fl_right">
                <ul class="nospace inline">
                    <li><strong>contact:</strong><br> +33 453 67 98</li>

                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <div class="wrapper bgded" style="background-image:url('../../assets/images1/demo/backgrounds/im2.jpg');">
        <div id="pageintro" class="hoc clear">
            <div class="flexslider basicslider">
                <ul class="slides">
                    <li>
                        <article>
                            <h3 class="heading">Lorem vulputate diam eget sagittis</h3>
                            <p>Vivamus in ligula ut risus bibendum aenean purus enim euismod nec scelerisque a fringilla et mauris.</p>
                            <footer><a class="btn" href="#">Molestie mauris</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <h3 class="heading">Vivamus elementum auctor nam augue</h3>
                            <p>Sed imperdiet facilisis urna curabitur lectus vestibulum posuere lobortis lorem vivamus quis sapien.</p>
                            <footer><a class="btn" href="#">Rhoncus nulla</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <h3 class="heading">Sodales euismod tellus vestibulum suscipit</h3>
                            <p>Tellus faucibus sit amet placerat sed placerat eu ipsum etiam auctor lectus ut mollis pharetra nisi.</p>
                            <footer><a class="btn" href="#">Lacinia vulputate</a></footer>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPTS -->
    <script src="../../assets/layout/scripts/jquery.min.js"></script>
    <script src="../../assets/layout/scripts/jquery.backtotop.js"></script>
    <script src="../../assets/layout/scripts/jquery.mobilemenu.js"></script>
    <script src="../../assets/layout/scripts/jquery.flexslider-min.js"></script>
</body>